body{font-family:"微軟正黑體";font-size:20px;font-weight:500;
    color:rgb(120, 116, 116);margin:0;}

header{height:60px;width:100%;background-color: white;
    position:fixed;left:0;top:0; z-index:100;
    display:flex;justify-content:center;}
.header_content{width:1200px;padding:10px;
    display:flex;justify-content:space-between;align-items:center;}
.header_LOGO{color:#458899;font-size:1.5rem;}


footer{width:100%;height:100px;background-color: grey;color:white;
    position:relative;left:0;bottom:0;
    display:flex;justify-content:center;align-items:center;
}

.container{width:1200px;margin:70px auto 10px auto}

.attraction_box{display:flex;justify-content:space-between;margin:0 auto;}
.attraction_box div{margin:10px;}

.attraction_picture{position:relative;width:580px;}
#picture_container {position:absolute;width:100%;z-index:-1;}
#picture_container img {width:100%;height:400px;object-fit:cover;
}

#Btn-container{display:flex;justify-content:space-between;margin:200px 5px auto 25px;}
#dot-container{display:flex;justify-content:center;margin-top:140px;}

/* .dot-container {text-align: center;} */
.dot {display: inline-block;width: 10px;height: 10px;
  margin: 0 5px;background-color: #bbb;border-radius: 50%;
  cursor: pointer;
}
.dot.active {background-color: #333;}
.slide {display: none; width: 100%;}

.attraction_content {width:600px;line-height: 40px;}
.attraction_book{border-radius: 5px;padding:20px;background-color: rgb(231, 230, 230);}
.attraction_name{font-size:1.5rem;font-weight:bold;}
.attraction_info{margin-bottom:20px;}

input[type="date"] { border:none; }
.book_button{
    font-family:"微軟正黑體";font-size:20px;color: white;
    border:none;border-radius: 5px;padding:10px 25px;margin:10px;
    background-color:#458899;}

hr {border-color:white;}




