<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="../static/css/basic.css">
    <link rel="stylesheet" type="text/css" href="../static/css/attraction.css">
</head>
<body>
    <div class="header_load"></div>
    <div class="popup_load"></div>
    <div class="container">
        <div class="attraction_box">
            <div class="attraction_picture">
                <div id="picture_container"></div>
                <div id="Btn-container">
                    <img id="prevBtn" src="../static/image/arrow_left.png"></img>
                    <img id="nextBtn" src="../static/image/arrow_right.png"></img>
                </div>
                <div id="dot_container"></div>
            </div>
            <div class="attraction_content">
                <div class="attraction_name">名字</div>
                <div class="attraction_info">資訊</div>
                <div class="attraction_book">
                    <b>訂購導覽行程</b><br>
                    以此景點為中心的一日行程，帶您探索城市角落故事<br>
                    <b>選擇日期：</b>
                    <input type="date"><br>
                    <b>選擇時間：</b>
                    <input type="radio" name="time" id="morning">
                    <label class="time_button" for="morning">上半天</label>
                    <input type="radio" name="time" id="afternoon">
                    <label class="time_button" for="afternoon">下半天</label>
                    <br>
                    <b>導覽費用：</b><span id="fee"></span><br>
                    <button class="book_button">開始預約行程</button>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="attraction_description"></div>
        <br>
        <b>景點地址：</b><br>
        <div class="attraction_address"></div>
        <br>
        <b>交通方式：</b><br>
        <div class="attraction_transport"></div>
        <br>
    </div>
    </div>
    <div class="footer_load"></div>

</body>
<script src="../static/js/basic.js"></script>
<script src="../static/js/member.js"></script>
<script src="../static/js/attraction.js"></script>

</html>