<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="../static/css/basic.css">
    <link rel="stylesheet" type="text/css" href="../static/css/booking.css">
</head>
<body>
    <div class="header_load"></div>
    <div class="popup_load"></div>
    <div class="container">

        <div class="booking_hello text19"><b>您好，<span class="helloMemberName"></span>，待預定的行程如下：</b></div>
        <div class="noBookingHide">
            <div class="booking_box">
                <img class="attraction_picture"></img>
                <div class="booking_info">
                    <b><div class="attraction_name"></div></b><br>
                    <b>日期：</b><span class="booking_date"></span><br>
                    <b>時間：</b><span class="booking_time"></span><br>
                    <b>費用：</b><span class="booking_price"></span><br>
                    <b>地點：</b><span class="booking_address"></span><br><br>
                    <img src="../static/image/delete.png" class="booking_delete"></img><br>
                </div>
            </div>


            <br><hr><br>
            <div class="member_info">
            <div class="text19">您的聯絡資訊</div>
            聯絡姓名：<input type="text" class="inputMemberName"><br>
            聯絡信箱：<input type="text" class="inputMemberMail"><br>
            手機號碼：<input type="text"><br>
            <b>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</b>
            </div>

            <br><hr><br>
            <div class="member_info">
            <div class="text19">信用卡付款資訊</div>
            卡片號碼：<div class="tpfield" id="card-number"></div>
            過期時間：<div class="tpfield" id="card-expiration-date"></div>
            驗證密碼：<div class="tpfield" id="card-ccv"></div>
            </div>

            <br><hr><br>
            <div class="position_left">
            <b><span class="bookingTotalPrice"></span></b><br>
            <button class="booking_button">確認訂購並付款</button>
            </div>
            <br>

            <!-- <div class="tpfield" ></div>
            <div class="tpfield" id="card-expiration-date"></div>
            <div class="tpfield" id="card-ccv"></div> -->

        </div>
        <br>
        <div class="noBookingShow hide">目前沒有任何待預定的行程</div>
        <br>
    </div>
    <div class="footer_load"></div>

</body>

<script src="../static/js/basic.js"></script>
<script src="../static/js/member.js"></script>
<script src="../static/js/booking.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script> -->
<script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>
<script>
    TPDirect.setupSDK('137044', 'app_aYW5sz94fqr6ZtVWP0y9W95wXht3gqkjb8uPua3eHvpX5yGMTLwgCQ8dUIWa', 'sandbox')
    TPDirect.card.setup({
        fields: {
            number: {
                element: '#card-number',
                placeholder: '**** **** **** ****'
            },
            expirationDate: {
                element: document.getElementById('card-expiration-date'),
                placeholder: 'MM / YY'
            },
            ccv: {
                element: '#card-ccv',
                placeholder: 'ccv'
            }
        }
        });


    const bookingButton = document.querySelector(".booking_button");
    bookingButton.addEventListener("click", function() {

        const tappayStatus = TPDirect.card.getTappayFieldsStatus()
        console.log(tappayStatus)

        if (tappayStatus.canGetPrime === false) {
            alert('can not get prime')
            return
        }
        TPDirect.card.getPrime((result) => {
            if (result.status !== 0) {
                alert('get prime error ' + result.msg)
                return
            }
            alert('get prime 成功，prime: ' + result.card.prime)
            // send prime to your server, to pay with Pay by Prime API .
            // Pay By Prime Docs: https://docs.tappaysdk.com/tutorial/zh/back.html#pay-by-prime-api
        })
    });



</script>

</html>