<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>

    <div class="container">
        <header>
            <div class="header_content">
                <div class="header_LOGO">台北一日遊</div>
                <div class="header_option">
                    <span>預定行程　</span>
                    <span>登入/註冊</span>
                </div>
            </div>
        </header>


        <div class="banner"></div>
        <div class="banner_content">
            <div>輕鬆享受台北一日悠閒</div>
            <div class="banner_smalltext">探索每個角落，體驗城市的深度旅遊行程</div>
            <div class="search_container">
            <input class="search_input" placeholder="輸入景點名稱查詢"></input>
            <img class="search_button" src="../static/image/search_button.png"></img>
            </div>
        </div>
        
        <div class="mrt_list">這裡要放捷運站列表</div>
        
        <div class="main">           
                    <div class="attraction t1">
                        <div class="attraction_name"></div>
                        <div class="attraction_info"></div>
                    </div>
                    <div class="attraction t2">
                        <div class="attraction_name"></div>
                        <div class="attraction_info"></div>
                    </div>
                    <div class="attraction t3">
                        <div class="attraction_name"></div>
                        <div class="attraction_info"></div>
                    </div>
                    <div class="attraction t4">
                        <div class="attraction_name"></div>
                        <div class="attraction_info"></div>
                    </div>
                    <div class="attraction t5">
                        <div class="attraction_name"></div>
                        <div class="attraction_info"></div>
                    </div>
                    <div class="attraction t6">
                        <div class="attraction_name"></div>
                        <div class="attraction_info"></div>
                    </div>
                    <div class="attraction t7">
                        <div class="attraction_name"></div>
                        <div class="attraction_info"></div>
                    </div>
                    <div class="attraction t8">
                        <div class="attraction_name"></div>
                        <div class="attraction_info"></div>
                    </div>
                    <div class="attraction t9">
                        <div class="attraction_name"></div>
                        <div class="attraction_info"></div>
                    </div>
                    <div class="attraction t10">
                        <div class="attraction_name"></div>
                        <div class="attraction_info"></div>
                    </div>
                    <div class="attraction t11">
                        <div class="attraction_name"></div>
                        <div class="attraction_info"></div>
                    </div>
                    <div class="attraction t12">
                        <div class="attraction_name"></div>
                        <div class="attraction_info"></div>
                    </div>
        </div>

       <div id="content">加載測試區</div>

        <footer> COPYRIGHT @ 2023台北一日遊 </footer>
    </div>
</body>

<script src="../static/index.js"></script>

</html>