<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="../static/basic.css">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>

    <header>
    <div class="header_content">
        <div class="header_LOGO">台北一日遊</div>
        <div class="header_option">
            <span>預定行程　</span>
            <span class="loginButton">登入/註冊</span>
        </div>
    </div>
    </header>

    <div class="container">

        <div class="banner"></div>
        <div class="banner_content">
            <div class="banner_bigtext">輕鬆享受台北一日悠閒</div>
            <div>探索每個角落，體驗城市的深度旅遊行程</div>
            <div class="search_container">
            <input id="search_input" placeholder="輸入景點名稱查詢"></input>
            <img id="search_button" src="../static/image/search_button.png"></img>
            </div>
        </div>
        <br>
        <div class="scroll_container">
            <img id="scroll_left" src="../static/image/arrow_left.png"></img>
            <div class="list_container"></div>
            <img id="scroll_right" src="../static/image/arrow_right.png"></img>
        </div>


        <br>
        <div class="signUp_container hide popup" >
            註冊會員帳號
            <span class="close">&times;</span><br>
            <input type="text" id="signUp_Name" placeholder="輸入姓名"><br>
            <input type="text" id="signUp_Mail" placeholder="輸入電子信箱"><br>
            <input type="text" id="signUp_Password" placeholder="輸入密碼"><br>
            <button id="signUp_Button">註冊新帳戶</button></br>
            <span class="signUp_remind">已經有帳戶了？</span>
            <span class="signUp_success hide">註冊成功！</span>
            <span class="signUp_signIn">點此登入</span>
        </div>
        <div class="overlay hide"></div>

        <div class="signIn_container hide popup">
            登入會員帳號
            <span class="close">&times;</span><br>
            <input type="text" id="signIn_Mail" placeholder="輸入電子信箱"><br>
            <input type="text" id="signIn_Password" placeholder="輸入密碼"><br>
            <button id="signIn_Button">登入帳戶</button></br>
            <span>還沒有帳戶？</span>
            <span class="signIn_signUp">點此註冊</span>
        </div>
        <div class="overlay hide"></div>

        <br>
        <div id="gridContainer"></div>
        <br>

    </div>

         <footer id="footer"> COPYRIGHT @ 2023台北一日遊  </footer>


</body>

<script src="../static/index.js"></script>
<script src="../static/member.js"></script>

</html>