<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="../static/css/basic.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
    <div class="header_load"></div>
    <div class="popup_load"></div>
    <div class="container">
        <div class="banner"></div>
        <div class="banner_content">
            <div class="banner_bigtext">輕鬆享受台北一日悠閒</div>
            <div>探索每個角落，體驗城市的深度旅遊行程</div>
            <div class="search_container">
            <input id="search_input" placeholder="輸入景點名稱查詢"></input>
            <img id="search_button" src="../static/image/search_button.png"></img>
            </div>
        </div>
        <br>
        <div class="scroll_container">
            <img id="scroll_left" src="../static/image/arrow_left.png"></img>
            <div class="list_container"></div>
            <img id="scroll_right" src="../static/image/arrow_right.png"></img>
        </div>
        <br>
        <div id="gridContainer"></div>
        <br>
    </div>
         <div class="footer_load"></div>


</body>
<script src="../static/js/basic.js"></script>
<script src="../static/js/member.js"></script>
<script src="../static/js/index.js"></script>

</html>