<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" type="text/css" href="../static/css/basic.css">
    <link rel="stylesheet" type="text/css" href="../static/css/member.css">
</head>
<body>
    <div class="header_load"></div>
    <div class="popup_load"></div>
    <div class="container">
        <div>
            <img class="profile_photo"></img>

            <form id="upload-form" enctype="multipart/form-data">
                <input type="file" name="file" id="file-input">
                <button type="button" class="upload_button">上傳</button>
            </form>

            <p id="upload-status"></p>

        </div>
        <br>
        <div>
            會員基本資料
        </div>
        <br>
        <div>
            歷史訂單紀錄
        </div>
        

    </div>
    <div class="footer_load"></div>

</body>

<script src="../static/js/header.js"></script>
<script src="../static/js/login.js"></script>
<script src="../static/js/member_page.js"></script>

</html>